<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.zeitlings.setbrowser</string>
	<key>connections</key>
	<dict>
		<key>08F23A2B-C397-4417-997A-5C9A27CEFB70</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5E48A2F1-12D5-4B22-BCED-03482CCD2018</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>15417FDB-8D05-4F19-8CF6-BBEF21D30440</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>648D90AE-8A3A-43CE-BBCC-4F682A2639AA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2AB3F5DA-BD4F-49A1-A7BF-2FCD0EEFCA7F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>23F4A26C-9791-4035-ACF0-36FA7BC19783</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>401759DA-FCF2-4067-B042-EBF6645941F9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CD48225D-5820-47C8-9E43-DB93C53EA937</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>EF8BB425-806E-497A-8116-A0AC7F62AA9F</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D2CC5F0B-DF80-472A-9926-6D3F00A5F86E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>6D7EACCF-356E-406B-BF05-768482F45622</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>BCFC5069-F5B4-4FA7-A775-2EE9111F3EFB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>29EA57E0-87B9-4528-8DDB-FE8A3D3D37A2</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6024FD7F-C913-4E9D-B1B5-F9EF58F4C416</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>CC573C21-6465-4993-B7EE-E1434C2275A1</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D5D0C62E-A7C4-4D2C-8916-0E879B25A059</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5E48A2F1-12D5-4B22-BCED-03482CCD2018</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>401759DA-FCF2-4067-B042-EBF6645941F9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6024FD7F-C913-4E9D-B1B5-F9EF58F4C416</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>15417FDB-8D05-4F19-8CF6-BBEF21D30440</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F38AF2B9-5D3F-4BF9-AFBD-5686355546CB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>761EFDA1-7B4C-4E9A-9714-BCDBF6EED38A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>34F8262E-CEB7-45F3-A3BE-8444B0534441</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>78B4E73C-0836-435C-8234-2E0373576FBA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>08F23A2B-C397-4417-997A-5C9A27CEFB70</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CB81ADAD-AB36-4986-ACCC-7F118161F1A3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5E48A2F1-12D5-4B22-BCED-03482CCD2018</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>26CAEF6B-6566-444C-B871-0D026383623A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CD48225D-5820-47C8-9E43-DB93C53EA937</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6BE43D6A-C299-436B-B16B-9A2D488A3A03</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D2CC5F0B-DF80-472A-9926-6D3F00A5F86E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>761EFDA1-7B4C-4E9A-9714-BCDBF6EED38A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>BCFC5069-F5B4-4FA7-A775-2EE9111F3EFB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D5D0C62E-A7C4-4D2C-8916-0E879B25A059</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>63156929-F5C1-45E6-B7D1-6B2270C48B01</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E013BD0A-C561-47FC-99A8-C675C7F5BAE9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EF9A350F-F1D9-485E-8AA3-44A302EC65D7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EF9A350F-F1D9-485E-8AA3-44A302EC65D7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2AB3F5DA-BD4F-49A1-A7BF-2FCD0EEFCA7F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F38AF2B9-5D3F-4BF9-AFBD-5686355546CB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BC978C35-C11D-4DB9-8855-330D4D23C939</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Patrick Sy</string>
	<key>description</key>
	<string>Change the default web browser</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Default Browser</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>init</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>6BE43D6A-C299-436B-B16B-9A2D488A3A03</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>filetypes</key>
				<array>
					<string>com.apple.application-bundle</string>
				</array>
				<key>name</key>
				<string>Bundle Identifier Information</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>E013BD0A-C561-47FC-99A8-C675C7F5BAE9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>readonly name=$(mdls -name kMDItemDisplayName -r "$1")
readonly bundleid=$(mdls -name kMDItemCFBundleIdentifier -r "$1")
echo -n "$name\t$bundleid"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>EF9A350F-F1D9-485E-8AA3-44A302EC65D7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>Setting default browser...</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>browser_bundleid</key>
					<string>{var:split2}</string>
					<key>valid</key>
					<string>1</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>CD48225D-5820-47C8-9E43-DB93C53EA937</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>button1</key>
				<string>Ok</string>
				<key>button2</key>
				<string></string>
				<key>button3</key>
				<string></string>
				<key>description</key>
				<string>{var:split2}</string>
				<key>title</key>
				<string>Bundle Identifier for
"{var:split1}"</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.dialog</string>
			<key>uid</key>
			<string>23F4A26C-9791-4035-ACF0-36FA7BC19783</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>	</string>
				<key>discardemptyarguments</key>
				<false/>
				<key>outputas</key>
				<integer>0</integer>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>2AB3F5DA-BD4F-49A1-A7BF-2FCD0EEFCA7F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>on run	set theBrowser to "{query}"	set browserComponents to theBrowser's words	tell application "System Events"		tell application process "CoreServicesUIAgent"			tell window 1				set buttonNames to (name of every button)				repeat with buttonName in buttonNames					repeat with theComponent in browserComponents						if (buttonName contains theComponent) then							tell (first button whose name contains theComponent)								perform action "AXPress"							end tell							return						end if					end repeat				end repeat			end tell		end tell	end tellend run</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>34F8262E-CEB7-45F3-A3BE-8444B0534441</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:split2}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>761EFDA1-7B4C-4E9A-9714-BCDBF6EED38A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:split1}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>set</string>
						<key>outputlabel</key>
						<string>should set</string>
						<key>uid</key>
						<string>EF8BB425-806E-497A-8116-A0AC7F62AA9F</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:split1}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>success</string>
						<key>outputlabel</key>
						<string>did set</string>
						<key>uid</key>
						<string>6D7EACCF-356E-406B-BF05-768482F45622</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:split1}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>same</string>
						<key>outputlabel</key>
						<string>is same</string>
						<key>uid</key>
						<string>29EA57E0-87B9-4528-8DDB-FE8A3D3D37A2</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:split1}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>blacklist</string>
						<key>outputlabel</key>
						<string>blacklist</string>
						<key>uid</key>
						<string>CC573C21-6465-4993-B7EE-E1434C2275A1</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>failure</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>401759DA-FCF2-4067-B042-EBF6645941F9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{var:split2} {var:split3}</string>
				<key>title</key>
				<string>Default Browser</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>BCFC5069-F5B4-4FA7-A775-2EE9111F3EFB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<false/>
				<key>triggerid</key>
				<string>init</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>78B4E73C-0836-435C-8234-2E0373576FBA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:key}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>stale() {
    (( $(date -r "$1" +%s) &gt; $(date -r "$2" +%s) ))
}

if command -v xcrun &amp;&gt; /dev/null &amp;&amp; xcrun --find swiftc &amp;&gt; /dev/null; then
    if [[ -f ./sdb ]] &amp;&amp; ! $(stale ./browser.swift ./sdb); then
        ./sdb "$1"
    else
		xcrun swiftc ./browser.swift -o ./sdb &amp; # background compilation
		swift ./browser.swift "$1"              # immediate execution
		# xcrun swift ./browser.swift "$1"      
    fi
else
    swift browser.swift "$1"  # fallback to direct execution (slow)
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Set Default Browser</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>08F23A2B-C397-4417-997A-5C9A27CEFB70</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict/>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>D2CC5F0B-DF80-472A-9926-6D3F00A5F86E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Go to workflow configuration to undo</string>
				<key>title</key>
				<string>Blacklisting {query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>648D90AE-8A3A-43CE-BBCC-4F682A2639AA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>,</string>
				<key>discardemptyarguments</key>
				<false/>
				<key>outputas</key>
				<integer>0</integer>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>5E48A2F1-12D5-4B22-BCED-03482CCD2018</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>new_app="$split2"
all_apps="$blacklist"
all_apps+="\n$new_app"

cat &lt;&lt;EOF | osascript
	tell application id "com.runningwithcrayons.Alfred"
	 	set theWorkflow to "${alfred_workflow_bundleid}"
	 	set theBlacklistVar to "blacklist"
 		set newBlacklist to "$all_apps"
	 	set configuration theBlacklistVar to value newBlacklist in workflow theWorkflow
	 	-- reload workflow theWorkflow	 end tell
EOF

echo -n "$new_app"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>15417FDB-8D05-4F19-8CF6-BBEF21D30440</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict/>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>6024FD7F-C913-4E9D-B1B5-F9EF58F4C416</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>'{query}'</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>D5D0C62E-A7C4-4D2C-8916-0E879B25A059</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Default Browser</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>63156929-F5C1-45E6-B7D1-6B2270C48B01</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<true/>
				<key>triggerid</key>
				<string>did.set</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>CB81ADAD-AB36-4986-ACCC-7F118161F1A3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>unstackview</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.hidealfred</string>
			<key>uid</key>
			<string>26CAEF6B-6566-444C-B871-0D026383623A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>init</string>
				<key>passinputasargument</key>
				<false/>
				<key>passvariables</key>
				<false/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>BC978C35-C11D-4DB9-8855-330D4D23C939</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>0.3</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>F38AF2B9-5D3F-4BF9-AFBD-5686355546CB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>![](icon.png)

# Default Browser

---
Created by [Patrick Sy](https://github.com/zeitlings) | [Github](https://github.com/zeitlings/alfred-set-default-browser) | [Alfred Gallery](https://alfred.app/workflows/zeitlings/set-default-browser/) | [Buy me a Coffee](https://ko-fi.com/zeitlings) ☕  
---

## Usage 

Set the default web browser via the `sdb` keyword. The macOS browser change confirmation dialog will be automatically accepted.


![](Images/sdb1.png)

**Utility**: Inspect an application's bundle identifier via the workflow's [File Action](https://www.alfredapp.com/help/workflows/triggers/file-action/), named *Bundle Identifier Information*.

![](Images/sdb2.png)
![auto-accepted and bundleid](Images/sdb3.png)

---

### Change Log

**v1.3.1** 
- Added Orion 
- Added SigmaOS
- Added Ghost Browser

**v1.3.0** 
- Added browser selection to workflow configuration 

**v1.2.0** 
- Added File Action utility to get bundle identifiers from apps
- Added useful failure messages
- Added configurable keyword
- Added more default options
- Added new icon
- Updated documentation</string>
	<key>uidata</key>
	<dict>
		<key>08F23A2B-C397-4417-997A-5C9A27CEFB70</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>190</real>
			<key>ypos</key>
			<real>325</real>
		</dict>
		<key>15417FDB-8D05-4F19-8CF6-BBEF21D30440</key>
		<dict>
			<key>note</key>
			<string>blacklist application</string>
			<key>xpos</key>
			<real>935</real>
			<key>ypos</key>
			<real>355</real>
		</dict>
		<key>23F4A26C-9791-4035-ACF0-36FA7BC19783</key>
		<dict>
			<key>xpos</key>
			<real>370</real>
			<key>ypos</key>
			<real>95</real>
		</dict>
		<key>26CAEF6B-6566-444C-B871-0D026383623A</key>
		<dict>
			<key>xpos</key>
			<real>370</real>
			<key>ypos</key>
			<real>465</real>
		</dict>
		<key>2AB3F5DA-BD4F-49A1-A7BF-2FCD0EEFCA7F</key>
		<dict>
			<key>xpos</key>
			<real>320</real>
			<key>ypos</key>
			<real>95</real>
		</dict>
		<key>34F8262E-CEB7-45F3-A3BE-8444B0534441</key>
		<dict>
			<key>note</key>
			<string>Automatically confirm your choice</string>
			<key>xpos</key>
			<real>700</real>
			<key>ypos</key>
			<real>175</real>
		</dict>
		<key>401759DA-FCF2-4067-B042-EBF6645941F9</key>
		<dict>
			<key>xpos</key>
			<real>420</real>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>5E48A2F1-12D5-4B22-BCED-03482CCD2018</key>
		<dict>
			<key>xpos</key>
			<real>370</real>
			<key>ypos</key>
			<real>355</real>
		</dict>
		<key>6024FD7F-C913-4E9D-B1B5-F9EF58F4C416</key>
		<dict>
			<key>xpos</key>
			<real>780</real>
			<key>ypos</key>
			<real>385</real>
		</dict>
		<key>63156929-F5C1-45E6-B7D1-6B2270C48B01</key>
		<dict>
			<key>xpos</key>
			<real>650</real>
			<key>ypos</key>
			<real>435</real>
		</dict>
		<key>648D90AE-8A3A-43CE-BBCC-4F682A2639AA</key>
		<dict>
			<key>xpos</key>
			<real>1080</real>
			<key>ypos</key>
			<real>355</real>
		</dict>
		<key>6BE43D6A-C299-436B-B16B-9A2D488A3A03</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<real>700</real>
			<key>ypos</key>
			<real>65</real>
		</dict>
		<key>761EFDA1-7B4C-4E9A-9714-BCDBF6EED38A</key>
		<dict>
			<key>xpos</key>
			<real>650</real>
			<key>ypos</key>
			<real>205</real>
		</dict>
		<key>78B4E73C-0836-435C-8234-2E0373576FBA</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<real>50</real>
			<key>ypos</key>
			<real>325</real>
		</dict>
		<key>BC978C35-C11D-4DB9-8855-330D4D23C939</key>
		<dict>
			<key>xpos</key>
			<real>935</real>
			<key>ypos</key>
			<real>495</real>
		</dict>
		<key>BCFC5069-F5B4-4FA7-A775-2EE9111F3EFB</key>
		<dict>
			<key>xpos</key>
			<real>650</real>
			<key>ypos</key>
			<real>325</real>
		</dict>
		<key>CB81ADAD-AB36-4986-ACCC-7F118161F1A3</key>
		<dict>
			<key>xpos</key>
			<real>190</real>
			<key>ypos</key>
			<real>435</real>
		</dict>
		<key>CD48225D-5820-47C8-9E43-DB93C53EA937</key>
		<dict>
			<key>xpos</key>
			<real>560</real>
			<key>ypos</key>
			<real>95</real>
		</dict>
		<key>D2CC5F0B-DF80-472A-9926-6D3F00A5F86E</key>
		<dict>
			<key>xpos</key>
			<real>560</real>
			<key>ypos</key>
			<real>325</real>
		</dict>
		<key>D5D0C62E-A7C4-4D2C-8916-0E879B25A059</key>
		<dict>
			<key>xpos</key>
			<real>560</real>
			<key>ypos</key>
			<real>415</real>
		</dict>
		<key>E013BD0A-C561-47FC-99A8-C675C7F5BAE9</key>
		<dict>
			<key>note</key>
			<string>Utility for obtaining information about an application's bundle identifier</string>
			<key>xpos</key>
			<real>50</real>
			<key>ypos</key>
			<real>65</real>
		</dict>
		<key>EF9A350F-F1D9-485E-8AA3-44A302EC65D7</key>
		<dict>
			<key>xpos</key>
			<real>190</real>
			<key>ypos</key>
			<real>65</real>
		</dict>
		<key>F38AF2B9-5D3F-4BF9-AFBD-5686355546CB</key>
		<dict>
			<key>xpos</key>
			<real>885</real>
			<key>ypos</key>
			<real>525</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>sdb</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>key</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
				<key>verticalsize</key>
				<integer>3</integer>
			</dict>
			<key>description</key>
			<string>Ignored Applications</string>
			<key>label</key>
			<string>Blacklist</string>
			<key>type</key>
			<string>textarea</string>
			<key>variable</key>
			<string>blacklist</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>2.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/zeitlings/alfred-set-default-browser</string>
</dict>
</plist>
